/*Css page d'acceuil*/
body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; 
  line-height: 1.6;
 background-image: url('../img/White.jpg');   /* background du site */
  background-size: fit-content;
}
.michroma-regular {
  font-family: "Michroma", serif;
  font-weight: 400;
  font-style: normal;
} /* Police téléchargée pour le site */

/*Barre de navigation*/

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;  /* la position z-index 1 et relative permet à la nav de rester en haut */
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  /* permet aux éléments d'être espacés entre eux*/
  align-items: center;

}

nav p {
  margin-left: 1.5rem; /*logo Molengeek*/
  transition: transform 0.3s ease;
}

nav p:hover {
  transform: scale(1.1);
} /* transition en passant sur le "logo" molengeek qui s'agrandit */

nav ul { /*en display none pour être activé qu'en cas de click*/
  display: none;
  list-style-type: none;
  margin-right: 1.5rem;
  padding: 0;

}

nav ul.show { /*texte menu barre burger*/
  display: flex;
  flex-direction: row;
  position: absolute;  /* quand à l'aide de la fonction js on appuye sur la classlist show sa position est 
  absolue sinon elle est en display none*/
  justify-content: space-around;
  left: 3%;
  width: 95%;
  top: 90%;
  background-color: #e89eec97;
  box-shadow: 0 2px 4px rgba(141, 80, 173, 0.695);
  text-shadow: 0 2px 4px rgba(119, 106, 126, 0.695);
  border-radius: 30px;
}

nav ul li {  /*espacement point de la liste*/
  margin: 1rem;
  line-height: 0.8rem;
}

nav ul.show:hover { 
  background-color: #a70baf3f;
}

nav ul li a { /* style texte navbar*/
  text-decoration: none;
  color: #664b79; 
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #9b30ff; 
}

.burger {
  display: block; /* s'assure qu'il ne bouge pas*/
  cursor: pointer;
}

.burger div { /*création du menu burger*/
  width: 25px;
  height: 3px;
  background-color: #542d73; 
  box-shadow: 0 2px 4px rgba(141, 80, 173, 0.695);
  margin: 5px;
  transition: all 0.3s ease;
}

.burger:hover{ /* animation pour faire tourner le burger sur lui même*/
  animation: rotate 0.5s ease;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* à 0% est sur 0deg*/
  }
  100% {
    transform: rotate(360deg); /* à 360% est sur 360deg*/
  }
}

/*style sections pour homogeiniser la page*/

section {
  margin-bottom: 4rem;
  transition: transform 0.3s ease; /* chaque section se souléve vers le haut légérement quand on passe dessus*/
}

section:hover {
  transform: translateY(-5px); /*trnasform subit -5 surl'axe Y donc l'axe vertical*/
}

h1,
h2 {
  background-color: #d6a7e379;
  border-radius: 40px;
  font-family: 'Orbitron';
  color: #542d73; 
  text-shadow: 0 6px 8px rgba(231, 155, 249, 0.279);
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 1.3rem;
  text-align: center;
  width: fit-content; /* permet dans les cas d'un background color de ne pas s'étendre sur toute la largeur et d'uniquement s'adapter au contenu*/
  box-shadow: 0 6px 8px rgba(231, 155, 249, 0.279);
}
h1:hover,
h2:hover,
nav ul li:hover {  /* quand on passe sur les titres ils s'agrandissent*/
animation: big 0.4s ease-in-out;
}
@keyframes big {
  0% {
    transform: scale(1); /*normal a 0%*/
  }
  50% {
    transform: scale(1.1); /*0.1 plus grand à 50%*/
  }
  100% {
    transform: scale(1);
  }
  
} 
/*css carousel*/
.carousel {
  position: relative; /*position pour permettre à la fonction js de s'activer*/
  width: 100%;
  height: 600px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 50px; 
}


.carousel img {
  position: absolute; /*position pour permettre à la fonction js de s'activer*/
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel img.active {
  opacity: 1;
}



.carousel-nav { /* boutons du carousel*/
  position: absolute;
  top: 50%; /*met les éléments au milieu de la class*/
  transform: translateY(-50%);
  background-color: rgba(126, 41, 187, 0.7); /*met les éléments au centre de la class*/
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

.carousel-nav:hover {
  background-color: rgba(106, 13, 173, 1);  /*passer sur les boutons de la nav en mauve*/
}

.carousel-nav.prev {
  left: 10px;
}

.carousel-nav.next {
  right: 10px;
}
.middle{ /*classe crée pour pouvoir mettre cowork et presentation cote a cote*/
  display: flex;
  flex-direction: row;
  gap: 3rem;
  background-color: none;
  
}

/*style général sction par section*/



#coworking,
#presentation {
  background-color: #bb7ee745;
  padding: 5rem;
  border-radius: 50%;
  margin: 30px;
  backdrop-filter: blur(5px) saturate(90%);
  box-shadow: 0 2px 4px rgba(216, 57, 57, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
#coworking p,
#presentation p{
  color: #542d73; 
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
  transition: color 0.3s ease;
}


#presentation:hover,
#coworking:hover,
#contact:hover,
#carousel:hover
 {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(110, 24, 152, 0.15);
}

/*section contact*/

#contact {
  background-color: #bb7ee745;
  padding: 5rem;
  margin-top: 50px;
  backdrop-filter: blur(10px) saturate(120%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#contact-infos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem; 
  padding-top: 30px;
}

iframe {
  width: 50%;
  height: 88vh;
}


/*css section contact */
#contact-details{
  background-color: #8964a4cb;
  border-radius: 30px;
  border: #4e2c66 1px solid;
  width: 50%;
  padding: 2%;
  animation: pulse 5s infinite ease-in-out;
  flex-direction: row;
  justify-content: center;

}

.contactForm {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  gap:1rem;
}
.subject input {
  height: 30vh;
} 
.name, .email, .subject {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1rem;
}
.contact-molengeek{ 
  background-color: #e2c9f379;
  border: #8964a4 1 solid;
  box-shadow:rgba(217, 202, 228, 0.789);
  border-radius: 45px;
  line-height: 0.5rem;
  padding: 15px;
  color: white;
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
}
.contact-molengeek p {
  line-height: 1rem;
}
.contact-molengeek p:hover{
  color:#8964a4cb;
}

.name input, .email input, .subject input{
  width: 100%; 
  padding: 12px 15px;
  font-size: 1rem;
  color: #333;
  background-color: #f8f2ff;
  border: 2px solid #e2c9f3;
  border-radius: 10px;
  display: flex;
}


button {
  background-color: #4e2c66;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  letter-spacing: 0.3rem;
}

button:hover {
  background-color: #a588bace;
}
.name input:hover, .email input:hover, .subject input:hover {
  background-color: #f0e6fa;
}

/*animation form*/

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
  
}

#contact-details:hover {
  background-color: #633983eb;
  animation: none; /* enlève l'animation pour écrire*/

}

/*css banners*/
#partners-banner {
  background: linear-gradient(135deg, #e2c8f7, #c9a3f5);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#partners-banner h3 {
  font-family: 'Orbitron', cursive;
  color: #6a1b9a;
  font-size: 2rem;
  margin-bottom: 15px;
  background-color: none;
}

.partners-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.partners-logos img {
  width: 100px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.4s, opacity 0.3s;
}

.partners-logos img:hover {
  transform: scale(1.2);
  opacity: 0.8;
} /* agrandit le png quand on passe dessus*/


/* Footer css */

footer {
  background-color: #d298f3ce  ;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

/* media queries */

@media (min-width: 768px) {
  nav ul {
    display: flex; /*pour pouvoir changer le display de la nav quand on déroule le menu burger*/
  }

  nav ul.show {
    position: static; /*pour que la nav bar ne descende pas quand on scrolle vers le bas*/
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
  }

  nav ul li {
    margin: 0 1rem;
  }

 
}
@media (min-width: 320px) and (max-width: 834px){

  
  .middle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  } 
 

      #coworking,
      #presentation {
        padding: 2rem; 
        border-radius: 20px;  
        margin: 10px;
        height: auto;  
        margin-bottom: 20px;
        
      }
    
      #coworking p,
      #presentation p {
        font-size: 0.9rem; 
        text-align: center;
        line-height: 1.4;
      }
    
      #coworking h1,
      #presentation h1,
      #coworking h2,
      #presentation h2 {
        font-size: 1rem; 
        text-align: center;
        padding: 0.8rem;  
      }

}

@media (max-width: 834px) {
  /* Section Contact */
  #contact-infos {
    flex-direction: column; /*changement en colonne*/
    gap: 2rem;
    padding-top: 20px;
  }

  iframe {
    width: 100%;
    height: 50vh;
  }

    #contact h2 {
      width: 100%;
      text-align: center;
      margin: 0 auto 20px;
      padding: 10px;
      font-size: 1.2rem;
    }
  

  #contact-details {
    width: 100%;
    padding: 5%;
    border-radius: 20px;
  }
  
  #contact-title{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   vertical-align: middle;
  }

  .contactForm {
    margin-top: 10%;
  }

  .name, .email, .subject {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    gap: 1rem;
  }

  .name input, .email input, .subject input {
    font-size: 0.9rem;
    padding: 10px 12px;
  }

  button {
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    padding: 8px 15px;
  }

  .contact-molengeek {
    border-radius: 20px;
    line-height: 1rem;
    padding: 10px;
  }

  .contact-molengeek p {
    font-size: 0.9rem;
  }

  /* Section Partenaires */
  #partners-banner {
    padding: 15px;
  }

  #partners-banner h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .partners-logos img {
    max-width: 100px;
    max-height: 60px;
    object-fit: contain;
  }
}

.carousel{
  margin-top: 80px;
}
#partners-banner {
  text-align: center;
  padding: 30px;
}

.partners-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /*contient les logos dans la page*/
  gap: 30px;
}

.partners-logos img {
  max-height: 80px;
  max-width: 150px;
  object-fit: contain;
}


