body, html {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  line-height: 1.6;
  color: #4e2c66;
  background-color: #f8f3fa;
}



/*css faq*/
#faq {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
}



.faq-liste {
  list-style: none;
  padding: 0;
}

.faq-item {
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  transition: background-color 0.3s ease-in-out;
}

.faq-item:hover {
  background-color: #f8f3fa;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #8f40ab;
}

.faq-btn {
  background-color: #df94e3;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.faq-btn:hover {
  background-color: #8f40ab;
  transform: translateY(-2px);
}

.faq-txt {
  display: none;
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #4e2c66;
}

.faq-txt.visible {
  display: block;
}

/* Footer css */
footer {
  background-color: #d298f3ce;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}

/* Responsive Design */
@media (min-width: 768px) {
  nav ul {
    display: flex;
  }

  nav ul.show {
    position: static;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
  }

  nav ul li {
    margin: 0 1rem;
  }

  .burger {
    display: none;
  }
}
